<%inherit file="script.mako.html"/>
<td>
    <button id="show${author.id}" class="show" title="delete ${author.id}">delete</button>
    <dialog id="dialog${author.id}" class="dialog">
        <h4>Confirm Delete Author</h4>
        <form >
            <div>
                <div>
                    Name: ${author.name}
                </div>
                <div>
                    Date Of Birth: ${author.dob}
                </div>
                <div>
                    <button id="close${author.id}" class="close">close</button>
                    <button hx-delete="${author.id}"
                            onclick="document.getElementById('dialog${author.id}').close();
                            document.getElementById('authorRow${author.id}').remove();"
                    >
                            Delete
                    </button>
                </div>
            </div>
        </form>
    </dialog>
</td>


<script type="text/javascript">
    handleAuthorDialog('${author.id}');
    document.getElementById("dialog${author.id}").showModal();
</script>