<%page args="author"/>
<tr id="authorRow${author.id}">
    <td>
        <input type="checkbox" name="id" value="${author.id}" _="on click
        countRows()
        ">
    </td>
    <td><button hx-get="delete/${author.id}" hx-swap="outerHTML" title="delete ${author.id}" hx-target="closest td">delete</button></td>
    <td><button hx-get="edit/${author.id}" hx-swap="outerHTML" title="edit ${author.id}" hx-target="closest td">edit</button></td>
    <td>
        ${author.name}
    </td>
    <td>
        % if author.dob:
            ${author.dob.strftime('%Y-%m-%d')}
        % endif
    </td>
    <td>
        ${author.id}
    </td>
    <td>
        <button hx-get="/book/author-books/${author.id}"
                hx-swap="innerHTML"
                title="view ${author.id}"
                hx-target=".detail"
                id="swapBooks-${author.id}"
        >
            View Books
        </button>
        <button id="viewBooks-${author.id}"
                style="display:none"
                onclick="showBooks('${author.id}')"
        >
            View Books
        </button>
    </td>
</tr>
