<tr id="authorRow${author.id}">
    <td>
        <input type="checkbox" name="id" value="${author.id}" _="on click
        countRows()
        ">
        <script>countRows()</script>
    </td>
    <td><button hx-get="delete/${author.id}" hx-swap="outerHTML" title="delete ${author.id}">delete</button></td>
    <td><button hx-get="edit/${author.id}" hx-swap="outerHTML" title="edit ${author.id}">edit</button></td>
    <td>
        ${author.name}
    </td>
    <td>
        % if author.dob:
            ${author.dob.strftime('%Y-%m-%d')}
        % endif
    </td>
    <td>
        ${author.id}
    </td>
</tr>

