<%inherit file="base.mako.html"/>

<%block name="title">
    Litestar HTMX Fullstack With Mako
</%block>

<%block name="header">
    ${parent.header()}
    Author
</%block>


<%block name="intro">
    intro
</%block>
<button onclick="document.getElementById('dialogNew').showModal();">Add New</button>
<dialog id="dialogNew" class="dialog">
    <h4>New Author</h4>
    <form id="dialogNewForm">
        <div>
            <div>
                Name:
                <input type="text" name="name" value="">
            </div>
            <div>
                Date Of Birth:
                <input type="date" name="dob" value="">
            </div>
            <div>
                <button id="closeNew" class="close" onclick="document.getElementById('dialogNew').close();">close</button>
                <button hx-post="new"
                    hx-swap="beforebegin"
                    hx-ext="json-enc"
                    hx-target=".authorListing tr:first-child"
                >

                Save
                </button>
            </div>
        </div>
    </form>
    <script>
        /* reset the new author form after submission and close the dialog */
        document.body.addEventListener('htmx:afterSwap', function(evt) {
            const form = document.querySelector("#dialogNewForm");
            form.reset();
            document.getElementById('dialogNew').close();
        });

        /* need to prevent the default action otherwise the URL parameters are screwed up */
        document.getElementById("closeNew").addEventListener("click", function(event){
            event.preventDefault()
        });
    </script>
</dialog>
<table border="1">
    <caption>
        List Of Authors
    </caption>
    <thead>
        <tr><th><input type="checkbox" name="master-check"></th><th></th><th></th><th>Name</th><th>dob</th><th>id</th></tr>
    </thead>
    <tbody class="authorListing">
        % if len(site_data.items) > 0:
            % for author in site_data.items:
                <tr id="authorRow${author.id}">
                    <td><input type="checkbox" name="id" value="${author.id}"></td>
                    <td><button hx-get="delete/${author.id}" hx-swap="outerHTML" title="delete ${author.id}" hx-target="closest td">delete</button></td>
                    <td><button hx-get="edit/${author.id}" hx-swap="outerHTML" title="edit ${author.id}" hx-target="closest td">edit</button></td>
                    <td>
                        ${author.name}
                    </td>
                    <td>
                        % if author.dob:
                            ${author.dob.strftime('%Y-%m-%d')}
                        % endif
                    </td>
                    <td>
                        ${author.id}
                    </td>
                </tr>
            % endfor
        % else:
            <tr><td colspan="6">&nbsp;</td></tr>
        % endif
    </tbody>
</table>
<div>
    <h5>Pages</h5>
    % for num in range(1,round(site_data.total/2 + 0.51)+1):
        <a href="listing?currentPage=${num}&pageSize=2">${num}</a>
    % endfor
</div>