<%inherit file="base.mako.html"/>

<%block name="title">
    Litestar HTMX Fullstack With Mako
</%block>

<%block name="header">
    ${parent.header()}
    A Fullstack site created in Litestar 2.4 for Python using <a href="https://htmx.org">htmx.org</a>
</%block>


<%block name="intro">
    intro
</%block>

${name}
<br>

[<a href="/authors/listing">Authors Full Listing</a>]
<br/>
[<a href="/authors/listing?currentPage=1&pageSize=4">Authors First Page</a>]
<br/>
<h3><a href="/docs/">Endpoint Listing</a></h3>